<h2 class="ui center aligned icon header">
  <i class="circular brown comments icon"></i>
  Let's Chat!
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui large feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Elliot Fu</em>: test friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Stevie Feliciano</em>: added a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Helen Troy</em>:  as a friend
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                <em>Christian Rocha</em>: test message.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon">
              <div class="ui left icon input">
                <input type="text" placeholder="Start typing...">
                <i class="chat icon"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="four wide column">
    <div class="ui vertical menu">
      <a class="item">
        Inbox
      </a>
      <a class="item">
        Spam
      </a>
      <a class="item">
        Updates
      </a>
    </div>
  </div>
</div>
