@import "semantic-ui";

.chatbox {
  height: 60vh;
}

.chatbox-container {
  height: 90%;
  overflow: auto;
}

.input {
  .button {
    display: none;
  }
}

.ui.placeholder.signup-container {
  margin: 0 auto;
  max-width: 480px;
}